<a href="https://colab.research.google.com/github/dolu143/Krishna/blob/main/Algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# !git clone https://github.com/dolu143/Krishna.git
!pip install smartapi-python
!pip install websocket
!pip install pyotp
!pip install xlwings
!pip install xlsxwriter

```
# This is formatted as code
```

In [7]:
from Krishna import functions
import pandas as pd
import xlsxwriter as xw
import pytz
exch_seg = 'NFO'
timeframe = 'FIFTEEN_MINUTE'
fromdate = '2023-05-01 09:00'
todate = '2023-05-25 15:30'

In [8]:
functions.intializeSymbolTokenMap()
tokenInfo = functions.getTokenInfo(exch_seg,'FUTIDX','NIFTY',0,0).iloc[0]
#print(tokenInfo)
symbol  = tokenInfo['symbol']
token = tokenInfo['token']
lot = int(tokenInfo['lotsize'])
print(symbol, token, lot)

NIFTY29JUN23FUT 35003 50

In [9]:
functions.login()

eyJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6IkI0MDU1ODAiLCJpYXQiOjE2ODcyNjgxMjgsImV4cCI6MTY4NzM1NDUyOH0.BY6EnpGRVxgmCXsz59wg2B4vqmNWnjIsoADVBGyOTupE1JmlWuq-VT5fR-apAQhR3f6pCTrXV802X9MqBYQVkQ

In [10]:
#functions.place_order(token,symbol,lot,'NFO','BUY','MARKET',0)

In [11]:
#hist_candata= functions.histcand(exch_seg,token,timeframe,fromdate,todate)
functions.write_toxl(exch_seg,token,timeframe,fromdate,todate)

                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]
                         time         o         h         l         c      v
0   2023-05-02 09:15:00+05:30  18180.45  18230.00  18180.45  18228.85  29545
1   2023-05-02 09:30:00+05:30  18229.75  18243.00  18225.60  18230.45  10570
2   2023-05-02 09:45:00+05:30  18230.45  18235.75  18214.00  18230.30   5499
3   2023-05-02 10:00:00+05:30  18228.75  18247.25  18220.85  18236.30   5212
4   2023-05-02 10:15:00+05:30  18235.05  18238.50  18214.50  18217.05   4466
..                        ...       ...       ...       ...       ...    ...
445 2023-05-25 14:15:00+05:30  18242.85  18269.50  18235.00  18249.90   7968
446 2023-05-25 14:30:00+05:30  18251.40  18265.30  18247.00  18260.00   3527
447 2023-05-25 14:45:00+05:30  18260.00  18308.95  18258.00  18304.35   6036
448 2023-05-25 15:00:00+05:30  18306.30  18330.00  18303.50  18328.45   9857
449 2023-05-25 15:15:00+05:30  18328.30  18333.05  18321.75  18324.90   8141

[450 rows x 6 columns]

In [12]:
functions.logout()

Your Session was Logout Successfully