<a href="https://colab.research.google.com/github/dolu143/Krishna/blob/main/Algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

!git clone https://github.com/dolu143/Krishna.git
!pip install smartapi-python
!pip install websocket
!pip install pyotp
!pip install xlwings
!pip install xlsxwriter

In [1]:
from Krishna import functions
import pandas as pd
import xlsxwriter as xw
import pytz
import datetime
exch_seg = 'NFO'
timeframe = 'ONE_MINUTE'
fromdate = '2023-05-02 09:15'
todate = '2023-05-31 15:30'

In [2]:
functions.intializeSymbolTokenMap()
tokenInfo = functions.getTokenInfo(exch_seg,'FUTIDX','NIFTY',0,0).iloc[0]
#print(tokenInfo)
symbol  = tokenInfo['symbol']
token = tokenInfo['token']
lot = int(tokenInfo['lotsize'])
print(symbol, token, lot)

NIFTY29JUN23FUT 35003 50

In [3]:
functions.login()

eyJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6IkI0MDU1ODAiLCJpYXQiOjE2ODc0Mjg1MjYsImV4cCI6MTY4NzUxNDkyNn0.3uNA3Z9LjF1QD8u5wDGsCVH3Eovdy-ziKBDRi9qgBG77OQd8-df1A9oDVb6wHih3oAWOI4AYwkg0lspO9XyMxg

In [4]:
#functions.place_order(token,symbol,lot,'NFO','BUY','MARKET',0)

In [5]:
#hist_candata= functions.histcand(exch_seg,token,timeframe,fromdate,todate)
functions.fetch_data(exch_seg,token,timeframe,fromdate,todate)

2023-05-02 09:15
2023-05-03 09:15
                         time         o         h         l         c     v
0   2023-05-03 09:15:00+05:30  18154.90  18159.75  18128.05  18134.90  3426
1   2023-05-03 09:16:00+05:30  18134.60  18142.40  18131.40  18133.85  1977
2   2023-05-03 09:17:00+05:30  18132.45  18135.50  18126.00  18128.05  1971
3   2023-05-03 09:18:00+05:30  18129.00  18137.00  18126.75  18135.85   840
4   2023-05-03 09:19:00+05:30  18137.90  18143.45  18136.15  18139.00  1117
..                        ...       ...       ...       ...       ...   ...
370 2023-05-03 15:25:00+05:30  18152.00  18153.00  18150.00  18150.80   686
371 2023-05-03 15:26:00+05:30  18150.80  18152.00  18150.00  18151.00   539
372 2023-05-03 15:27:00+05:30  18151.00  18151.75  18148.90  18149.85   823
373 2023-05-03 15:28:00+05:30  18149.85  18150.00  18142.20  18144.00   657
374 2023-05-03 15:29:00+05:30  18143.30  18148.70  18142.35  18147.30   680

[375 rows x 6 columns]
2023-05-04 09:15
                         time         o         h         l         c     v
0   2023-05-04 09:15:00+05:30  18119.85  18132.80  18113.10  18132.80  1899
1   2023-05-04 09:16:00+05:30  18132.00  18151.00  18131.95  18147.00  1007
2   2023-05-04 09:17:00+05:30  18146.85  18150.05  18142.50  18150.05   900
3   2023-05-04 09:18:00+05:30  18150.15  18157.70  18148.00  18155.05  1411
4   2023-05-04 09:19:00+05:30  18157.65  18160.00  18146.80  18147.55  1262
..                        ...       ...       ...       ...       ...   ...
370 2023-05-04 15:25:00+05:30  18282.75  18283.05  18278.00  18279.05  1715
371 2023-05-04 15:26:00+05:30  18279.05  18281.00  18278.05  18279.05   951
372 2023-05-04 15:27:00+05:30  18281.00  18284.20  18279.65  18282.00  1705
373 2023-05-04 15:28:00+05:30  18283.15  18287.00  18280.10  18286.60   833
374 2023-05-04 15:29:00+05:30  18283.25  18287.00  18281.90  18287.00  1288

[375 rows x 6 columns]
2023-05-05 09:15
                         time         o         h         l         c     v
0   2023-05-05 09:15:00+05:30  18180.00  18250.00  18180.00  18205.20  5977
1   2023-05-05 09:16:00+05:30  18203.90  18207.40  18198.30  18200.80  3595
2   2023-05-05 09:17:00+05:30  18200.00  18205.20  18195.00  18195.40  1557
3   2023-05-05 09:18:00+05:30  18197.00  18202.85  18195.00  18200.85  1232
4   2023-05-05 09:19:00+05:30  18202.65  18210.00  18200.00  18210.00  2515
..                        ...       ...       ...       ...       ...   ...
370 2023-05-05 15:25:00+05:30  18122.95  18128.00  18122.95  18125.00   778
371 2023-05-05 15:26:00+05:30  18126.95  18127.25  18124.00  18127.25   646
372 2023-05-05 15:27:00+05:30  18127.60  18127.60  18121.50  18124.30   741
373 2023-05-05 15:28:00+05:30  18126.80  18127.00  18124.00  18125.00   534
374 2023-05-05 15:29:00+05:30  18126.10  18131.35  18124.00  18130.10  1100

[375 rows x 6 columns]
2023-05-06 09:15
Empty DataFrame
Columns: [time, o, h, l, c, v]
Index: []

In [6]:
functions.logout()

Your Session was Logout Successfully